In [3]:
print("Welcome\n Stay Home Saty Safe")

Welcome
 Stay Home Saty Safe

In [ ]:
# title()

# upper()

# lower()

# isupper()

# islower()

# swapcase()

In [ ]:
# title()

In [4]:
name = 'amar'

In [5]:
print(name)

amar

In [6]:
name.title()

'Amar'

In [ ]:
# upper()  ---> it is used to convert all letters into upper case letters

In [7]:
name1 = 'jahnavi'

In [8]:
name1.upper()

'JAHNAVI'

In [ ]:
# lower()  --> it is used to converts all lettrs into lower case

In [9]:
name2 = 'JASMINE'

In [10]:
print(name2)

JASMINE

In [11]:
name2.lower()

'jasmine'

In [ ]:
# isupper()  ---> if all lettrs in the string will be upper then it returns TRue

In [12]:
name3 = 'VISHNU'

In [13]:
name3.isupper()

True

In [14]:
name3 = 'vishNU'

In [15]:
name3.isupper()

False

In [ ]:
# islower()

In [16]:
name4 = 'PYTHON'

In [17]:
name4.islower()

False

In [18]:
name5 = 'java'

In [19]:
name5.islower()

True

In [ ]:
# swapcase()  ----> it retruns swapcase

In [20]:
greet = 'Welcome to PYThon SEssion'

In [21]:
print(greet)

Welcome to PYThon SEssion

In [22]:
greet.swapcase()

'wELCOME TO pytHON seSSION'

In [ ]:
# f-strings:-
------------

# it is feature of 3.x     

# formetted strings

In [23]:
first_name = 'swathi'

last_name = 'ambati'

In [24]:
full_name = f"{first_name} {last_name}"

In [25]:
print(full_name)

swathi ambati

In [26]:
print(f"Keep up good work,{full_name.title()}")

Keep up good work,Swathi Ambati

In [ ]:
# validation of datatypes:-
-------------------------


type()

In [27]:
a = 10

In [28]:
a

10

In [29]:
b = 0.9

In [30]:
type(a)

int

In [31]:
type(b)

float

In [32]:
lang = 'sql'

In [33]:
print(lang)

sql

In [34]:
type(lang)

str

In [35]:
name = 'a'

In [36]:
type(name)

str

In [ ]:
# Tab delimieter:-
-----------------

\t  ---> used to get one tab sapce


\n  ---> it used shift the control from one line to another line

In [ ]:
# \t

In [37]:
print("\tpython")

	python

In [38]:
print("python\t")

python

In [ ]:
# \n

In [39]:
print('python\njava')

python
java

In [40]:
print("languges:- 1)Python 2)Java 3)sql")

languges:- 1)Python 2)Java 3)sql

In [41]:
print("LAnguages:-\n\t1)Python\n\t2)JAva\n\t3)Sql")

LAnguages:-
	1)Python
	2)JAva
	3)Sql