In [1]:
print("Welcome\n Stay Home Saty Safe")

Welcome
 Stay Home Saty Safe

In [ ]:
# accepting user inputs:-
----------------------

# input()

# it reads all as string

In [2]:
name = input("Please enter your name: ")

Please enter your name: swathi

In [3]:
print(name)

swathi

In [4]:
age = input("enter your age: ")

enter your age: 20

In [5]:
age

'20'

In [6]:
mark = input('enter your mark ')

enter your mark 12

In [7]:
mark

'12'

In [8]:
name1 = input()

jyoshna

In [9]:
name1

'jyoshna'

In [10]:
type(name1)

str

In [11]:
age1 = input('enter your age: ')

enter your age: 25

In [12]:
print(age1)

25

In [17]:
age1

'25'

In [13]:
type(age1)

str

In [14]:
mark1 = input()

0.8

In [15]:
mark1

'0.8'

In [16]:
type(mark1)

str

In [18]:
age1

'25'

In [19]:
type(age)

str

In [ ]:
# type casting:-
---------------

In [20]:
age1 = int(age1)

In [21]:
age1

25

In [22]:
type(age1)

int

In [23]:
mark1

'0.8'

In [24]:
type(mark1)

str

In [25]:
mark1 = float(mark1)

In [26]:
type(mark1)

float

In [ ]:
# eval()

In [33]:
sno = eval(input('enter your sno: '))

enter your sno: 3

In [34]:
type(sno)

int

In [35]:
mark3 = eval(input())

0.6

In [36]:
type(mark3)

float

In [27]:
phno = input('enter your phno')
phno = int(phno)

enter your phno1234567890

In [29]:
type(phno)

str

In [30]:
phno = int(phno)

In [31]:
type(phno)

int

In [ ]:
# iterative stat:-
-----------------


# for loop

syntax:-
------


# for temp_var in per_var:
#     print(temp_var)

In [ ]:
# for loop through list

In [37]:
students = ['peeriah','jasmine','jyoshna','nagoorbee','swathi']

In [38]:
print(students)

['peeriah', 'jasmine', 'jyoshna', 'nagoorbee', 'swathi']

In [43]:
for i in students:
    print(i.upper())

PEERIAH
JASMINE
JYOSHNA
NAGOORBEE
SWATHI

In [ ]:
# i want to print 1 to 1000 numbers

In [1]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# i want to print welcome for 1000 times

In [2]:
for i in range(1,10+1):
    print("WELCOME")

WELCOME
WELCOME
WELCOME
WELCOME
WELCOME
WELCOME
WELCOME
WELCOME
WELCOME
WELCOME

In [ ]:
# 2 - table

In [47]:
for i in range(1,10+1):
    print(f"2*{i}={i*2}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [48]:
number = '12345'

In [49]:
type(number)

str

In [50]:
for i in number:
    print(i)

1
2
3
4
5

In [ ]:
python 2.x:- 
--------
    
raw_input()   ---> # it reads all inputs as string
input()       ---> # it reads actual input


python 3.x:-
----------

input()    -----> # it reads all inputs as string